aiohttp==3.9.5
aiopg==1.4.0
aiosignal==1.3.1
aliyun-iot-linkkit==1.2.13
altgraph==0.17.4
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.2.0
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.2.3
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
chilero==0.5.1
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
crcmod==1.7
Cryptodome==1.0
cryptography==43.0.0
cycler==0.12.1
decorator==4.4.2
distlib==0.3.8
ecdsa==0.19.0
esptool==4.7.0
eventemitter==0.2.0
exceptiongroup==1.2.2
filelock==3.15.4
fonttools==4.51.0
frozenlist==1.4.1
future==1.0.0
get-video-properties==0.1.1
gevent==24.2.1
google==3.0.0
greenlet==3.0.3
h11==0.14.0
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
install==1.3.5
intelhex==2.3.0
iso8601==2.1.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.0
meta.data==0.1
MouseInfo==0.1.3
moviepy==1.0.3
multidict==6.0.5
numpy==1.26.4
opencv-python==4.9.0.80
outcome==1.3.0.post0
packaging==24.0
paho-mqtt==1.6.1
pandas==2.2.2
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.2.2
playsound==1.2.2
proglog==0.1.10
protobuf==5.27.1
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyAutoGUI==0.9.54
pybluez2==0.37
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.8.2
pypresence==4.3.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
pyqt5-tools==5.15.9.3.3
pyqtgraph==0.13.7
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
pystray==0.19.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytweening==1.2.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qt-material==2.14
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
reedsolo==1.7.0
requests==2.32.3
schema-migrations==0.2.3
selenium==4.26.1
serial==0.0.97
sip==6.8.3
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.0
soupsieve==2.5
spark-parser==1.8.9
steam==1.4.4
term-background==1.0.1
tomli==2.0.1
tqdm==4.66.4
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2024.1
uncompyle==2.0.0
uncompyle6==3.9.1
unrpa==2.3.0
urllib3==2.2.1
vdf==3.4
virtualenv==20.26.3
virtualenvwrapper-win==1.2.7
websocket-client==1.8.0
wsproto==1.2.0
xdis==6.1.0
yarl==1.9.4
zipp==3.18.2
zope.event==5.0
zope.interface==6.4.post2
