altgraph==0.17.4
attrs==24.2.0
backports-datetime-fromisoformat==2.0.2
beautifulsoup4==4.12.3
bs4==0.0.2
buildozer==1.5.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
distlib==0.3.9
docutils==0.21.2
exceptiongroup==1.2.2
Faker==30.8.2
filelock==3.16.1
fonttools==4.54.1
future==1.0.0
h11==0.14.0
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
iso8601==2.1.0
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
kiwisolver==1.4.7
m3u8==6.0.0
matplotlib==3.9.2
mplcursors==0.6
mpldatacursor==0.7.1
numpy==2.0.1
outcome==1.3.0.post0
packaging==24.1
pefile==2023.2.7
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
psutil==6.1.0
ptyprocess==0.7.0
pycparser==2.22
pycryptodomex==3.21.0
pygments==2.18.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyparsing==3.2.0
pypiwin32==223
PyQt5==5.15.11
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.15.0
pyqt5-tools==5.15.9.3.3
pyqtgraph==0.13.7
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-vlc==3.0.21203
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.32.3
scipy==1.13.1
selenium==4.26.1
sh==2.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
steam==1.4.4
steamcommunity==0.0.1
steamodd==5.0
trio==0.27.0
trio-websocket==0.11.1
typing-extensions==4.12.2
urllib3==2.2.3
vdf==3.4
virtualenv==20.27.1
webdriver-manager==4.0.2
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.20.2
